.screen {
  viewport-fill: black;
  width: 100%; 
  height: 100%;
}

.container { 
  width: 90%; 
  height: 90%; 
  x: 5%; 
  y: 5%; 
}

.inner { 
  width: 100%; 
  height: 100%; 
  x: 0; 
  y: 0; 
}

#myTime {
  font-size: 50;
  font-family: System-Bold;
  text-length: 32;
  x: 5;
  y: 50;
  fill: white;
}

#myDate {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  x: 5;
  y: 70;
  fill: white;
}

#myStepsIcon {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 3;
  y: 75;
  fill: white;
}

#myStepsText {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 60;
  y: 95;
  fill: white;
}

#myHeartIcon {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 3;
  y: 105;
  fill: white;
}

#myHeartText {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 60;
  y: 125;
  fill: white;
}

#myFlightsIcon {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 3;
  y: 135;
  fill: white;
}

#myFlightsText {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 60;
  y: 155;
  fill: white;
}
